/* ========================All pages ===================================*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#main-wrapper {
  flex: 1 0 auto;
}

* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

#body {
  height: 100%;
  overflow: auto;
}

.page_body {
  margin-left: 20px;
}

*:before, *:after {
 box-sizing: border-box;
}

.main-wrapper {
 min-height: 100%;
}

p {
  margin: 10px 20px 10px 0px;
}

/*links*/
a {
  text-decoration: none;
  color: red;
}

a:hover {
  opacity: 0.5;
}

h2 {
  margin: 20px 0px 20px 0px;
}

/*=======Base===========================================================*/
#header {
  width: 100%;
  background-color: #B01C0C;
  margin: 0px;
  padding: 0px 0px 30px 0px;
}

.company-name {
  margin: 0px;
  padding-top: 10px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 4em;
  text-align: center;
  color: white;
}

.slogan {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.5em;
  text-align: center;
  color: black;
  margin: 0px;
}

#footer {
  width: 100%;
  background-color: #B01C0C;
  margin: 0px;
  height: 80px;
  color: white;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
}

/* #footer-text {
  margin: 20px;
} */

hr {
  margin: 0px;
  color: white;
  width: 2px;
}

/*==================SUBMIT============================================*/
#proj_name {
  border-top: none;
  border-right: none;
  border-left: none;
}

/*=================INDEX=======================================================*/
/* join and login links*/
.user-btn, .dropbtn {
	font-size:15px;
	background-color: #B01C0C;
	padding: 5px 15px 5px 15px;
  margin-right: 10px;
	transition: 1.5s;
  border: solid 3px white;
  text-decoration: none;
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 25px;
}

.user-btn:hover, .project_link:hover {
		box-shadow: inset 0 0 0 5px #E75343;
    border: solid 3px #fff;
}

.info-box-title-r, .info-box-title-l, h4 {
  font-family: 'Lobster', cursive;
  font-size: 2.75em;
  margin-top: 15px;
  margin-bottom: 5px;
}

.info-box-title-r {
  text-align: right;
  margin: 15px 5px 5px 0px;
}

.info-box-title-l {
  margin: 15px 0px 5px 5px;
}

.pointers {
  width: 60%;
  height: 160px;
  position: relative;
  margin: 50px auto 0px auto;
}

#pointer1, #bookmark1 {
  background: red;
  opacity: 0.7;
}

#pointer2, #bookmark2 {
  background: red;
  opacity: 0.85;
}

#pointer3 {
  background: #B01C0C;
  opacity: 1.0;
  margin-bottom: 50px;
}

#pointer1:after, #pointer3:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 80px solid white;
  border-top: 80px solid transparent;
  border-bottom: 80px solid transparent;
  margin: auto;
}

#pointer1:before {
  content: "";
  position: absolute;
  right: -80px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 80px solid red;
  border-top: 80px solid transparent;
  border-bottom: 80px solid transparent;
  margin: auto;
}

#pointer3:before {
  content: "";
  position: absolute;
  right: -80px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 80px solid #B01C0C;
  border-top: 80px solid transparent;
  border-bottom: 80px solid transparent;
  margin: auto;
}

#pointer2:after {
  content: "";
  position: absolute;
  left: -80px;
  bottom: 0;
  width: 0;
  height: 0;
  border-right: 80px solid red;
  border-top: 80px solid transparent;
  border-bottom: 80px solid transparent;
  margin: auto;
}

#pointer2:before {
  content: "";
  position: absolute;
  right: 0px;
  bottom: 0;
  width: 0;
  height: 0;
  border-right: 80px solid white;
  border-top: 80px solid transparent;
  border-bottom: 80px solid transparent;
  margin: auto;
}

.info-box-text-r {
  text-align: justify;
  padding-left: 85px;
  margin: 0px;
}

.info-box-text-l {
  text-align: justify;
  padding-right: 85px;
  margin: 0px;
}

/* Slideshow container for testimonials */
.slideshow-container {
  position: relative;
}

/* Slides */
.testimonials {
  display: none;
  padding: 80px;
  text-align: center;
  background-color: black;
  color: white;
  transition: 1s ease;
  height: 20%;
}

.name {
  font-family: 'Pompiere', cursive;
  font-size: 1.2em;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/*=====================USER_PAGE===============================================*/
.project_link {
  font-size:1em;
	padding: 10px 20px 10px 20px;
  margin: 10px 10px 20px 10px;
	border-radius: 20px;
	transition: 1.5s;
  border: solid 3px black;
  text-decoration: none;
  color: black;
}

.project_links {
  display: flex;
  justify-content: space-around;
}

.project_lists {
  display: flex;
  justify-content: center;
}

.animated-h1 {
  font-family: 'Special Elite', cursive;
  margin-top: 80px;
}

.bookmarks {
  width: 100%;
  height: 500px;
  position: relative;
  margin: 50px 80px 50px 80px;
}

#bookmark2 {
  margin-right: 100px;
}

#asterisk {
  text-align: center;
}

.project_name {
  display: flex;
  color: black;
  opacity: 100%;
  margin-left: 30px;
  margin-bottom: 20px;
  font-size: 20px;
}

#bookmark-head1 {
  margin: 0;
  padding: 10px 10px 0px 10px;
}

#bookmark-head2 {
  margin: 0;
  padding: 10px 10px 30px 10px;
}

.projects {
  display: flex;
  flex-direction: row;
}

.page_arrow {
  color: black;
  font-size: 20px;
}

#logout_btn {
  padding-left: 60px
}
/*==============CLIENT_PROJECT================================================*/
.wide-input {
  margin-top: 10px;
}

/*==============================CONFIRMATION_PAGE=============================*/
.confirm_links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px 10px 0px 0px;
  width: auto;
}

/*==============================LENGTH_ERROR=============================*/
.approve_delete_btns {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

.approve_delete_btn {
  width: auto;
  margin-bottom: 0px
}


/*======================GET_A_QUOTE, USER_PAGE================================*/
.smaller-text {
    font-size: 12px;
}

/*===============================LOGIN_PAGE, REGISTER=====================*/
.submission-input {
  display: flex;
  flex-direction: column;
}

.basic-input {
  width: 30%;
  margin: 10px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  height: auto;
}

/*====================INDEX, USER_PAGE==============================================*/
/*dropdown menu*/
.dropbtn {
  padding: 16px;
  font-size: 30px;
  border: none;
  font-family: 'Lobster', cursive;
  background-color: black;
  color: white;
  margin-right: 20px;
  width: 100%
}

.dropdown, .home_logout {
  position: relative;
  display: inline-block;
  width: 15%
}

.home_logout {
  display: flex;
  flex-direction: row;
  width: 20%
}

.home_logout:hover .neighbor_btns {
  background-color: black;
  transition: 1s;
  transition-timing-function: ease;
}


.neighbor_btns {
  font-size: 30px;
  border: none;
  font-family: 'Lobster', cursive;
  background-color: black;
  color: white;
  margin: 0px 20px 0px 20px;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #B8B6BC;
  transition: 1s;
  transition-timing-function: ease;
}

/*navigation bar*/
.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  margin: 0;
  padding: 0;
}

/*===========================EDIT_PROJECT, SUBMIT=============================*/
.form-element {
  margin-top: 10px;
}

/*===============================USER_PAGE, LOGIN_PAGE, REGISTER==============*/
h1 {
  text-align: center;
  margin-top: 30px;
}

/*==========CLIENT_PROJECT, EDIT_PROJECT, LOGIN_PAGE, REGISTER, SUBMIT========*/
form {
  margin-top: 30px;
  width: 100%;
}

/*=================EDIT_PROJECT, GET_A_QUOTE, SUBMIT==========================*/
label {
  margin-bottom: 10px;
}

/*CLIENT_PROJECT, EDIT_PROJECT, GET_A_QUOTE, LOGIN_PAGE, REGISTER, SUBMIT=====*/
.basic-btn {
  font-size:20px;
  background-color:#fff;
  padding:10px;
  color:#333;
  border-radius: 10px;
  transition: 1s;
  width: auto;
  margin: 20px 0px 20px 0px;
}

.basic-btn:hover {
  opacity: 0.5;
}

/*======CLIENT_PROJECT, EDIT_PROJECT, GET_A_QUOTE, TO_EDIT, USER_PAGE ========*/
h4 {
  text-align: center;
}

/*================================Responsive==================================*/
@media only screen and (max-width: 768px) {
  * {
    max-width: 100%;
  }
  .info-box-title-r, .info-box-title-l {
    font-size: 1em;
    padding-top: 5px;
  }
  .info-box-text-r {
    text-align: right;
    padding-left: 80px;
    font-size: 11px;
    margin-right: 0px;
  }
  .info-box-text-l {
    text-align: left;
    padding-right: 80px;
    font-size: 11px;
    margin-left: 0px;
  }
  .project_lists {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .bookmarks {
    height: 200px;
    width: 100%;
    margin: 0px;
    text-align: center;
  }
  .project_name {
    margin: 0px;
    display: inline;
  }
  .page_body {
    margin-left: 10px;
    margin-right: 10px;
  }
}
