body {
  font-family: 'Montserrat', sans-serif;
}

.company_name {
  margin: 0px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 4em;
}

.slogan {
  margin-top: -10px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.5em;
  text-align: center;
}
/*=================index=======================================================*/

.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
}

/*join and login buttons*/
.user_btn {
	font-size:15px;
	background-color:aliceblue;
	padding:15px;
	border-radius: 20px;
	transition: 1.5s;
  border: solid 3px blue;
  text-decoration: none;
}

.user_btn:hover {
		box-shadow: inset 0 0 0 5px blue;
    border: solid 3px #fff;
}


/* dropdown menu */
.dropbtn {
  background-color: aliceblue;
  color: blue;
  padding: 16px;
  font-size: 25px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: blue;
  transition: 1s;
  transition-timing-function: ease;

}

.info_box_titles {
  font-family: 'Lobster', cursive;
  font-size: 3em;
}


/* Slideshow container for testimonials */
.slideshow-container {
  position: relative;
}

/* Slides */
.testimonials {
  display: none;
  padding: 80px;
  text-align: center;
  background-color: aliceblue;
  transition: 0.6s ease;
}

.name {
  font-family: 'Pompiere', cursive;
  font-size: 1.2em;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {
  font-family: 'Fahkwang', sans-serif;
  font-style: italic;
  font-size: 1em;
}
