{% extends 'brevisapp/base.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="topnav">
  <div class="dropdown">
    <button class="dropbtn">Menu</button>
    <div class="dropdown-content">
      <a href="{% url 'brevisapp:get_a_quote' %}">Pricing</a>
      <a href="#">FAQs</a>
      <a href="{% url 'brevisapp:get_a_quote' %}">Get a Quote</a>
      <a href="#">Become an Editor</a>
    </div>
  </div>


  <div class="login">
    <a class="user-btn" id="join" href="{% url 'brevisapp:registration_page' %}">Join</a>
    <a class="user-btn" id="login" href="{% url 'brevisapp:login_page' %}">Login</a>
  </div>
</div>
<div id="text-boxes">
  <div class="pointers" id="pointer1">
    <h2 class="info-box-title-r">...who we are</h2>
      <p class="info-box-text-r">Brevis was started by an editor with a dream. She dreamed of menus with no typos, perfectly spelled Tweets, and signs without randomly inserted apostrophes. With that, Brevis was born. </p>
  </div>
  <div class="pointers" id="pointer2">
    <h2 class="info-box-title-l">what we do...</h2>
      <p class="info-box-text-l">Our goal is to provide fast, accessible, reliable, and error-free editing at such a low cost you can't really afford <ital>not</ital> to use us. Our top-notch editors have been carefully vetted to ensure immaculate results on every project—guaranteed.</p>
  </div>
  <div class="pointers" id="pointer3">
    <h2 class="info-box-title-r">...how it works</h2>
      <p class="info-box-text-r">We want to provide our clients easy access to quality editing. Every project is priced per word, and you can choose whether you want your project back in four hours (4¢ per word) or fourty-eight hours (2¢ per word). </p>
  </div>
</div>


<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width slides/quotes -->
  <div class="testimonials">
    <div class="talkbubble">
      <br/>
      <span class="quotes">I love knowing that my business's social media posts have been professionally edited. It's one less thing for me to worry about!</span>
    <p class="name">— Shannon L.</p>
    </div>
  </div>

  <div class="testimonials">
    <div class="talkbubble">
      <br/>
      <span class="quotes">Brevis is the easiest part of my day as a restaurant owner. They've edited everything from my menu to the sign outside my door. They are as helpful and kind as they are fast, and I don't know what I would do without them.</span>
    <p class="name">— Asher W.</p>
    </div>
  </div>

  <div class="testimonials">
    <div class="talkbubble">
      <br/>
      <span class="quotes">I'm a writer, and I don't like to take time to edit when my creative juices are flowing. Brevis is an awesome option when I need help on the fly.</span>
    <p class="name">— Keaton K.</p>
    </div>
  </div>

  <!-- Dots/bullets/indicators -->
  <div class="dot-container">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>

{% endblock %}
