{% extends 'brevisapp/base.html' %}

{% block title %}
  <h2>New Project Submission</h2>
  <hr/>
{% endblock %}

{% block content %}

<div class="form">
  <form action="{% url 'brevisapp:new_project' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-element">
      <label for="proj-name">Name your project:</label>
      <input type="text" id="proj-name" name="proj-name" required/><br/>
    </div>
    <div class="form-element">
      <label for="orig-text">Submitting text only? Copy it and paste it here.</label></br>
      <input type="text" id="orig-text" name="orig-text"/><br/>
    </div>
    <div class="form-element">
      <label for="orig-file">Submitting a file?</label>
      <input type="file" id="orig-file" name="orig-file"/><br/>
    </div>
    <div class="form-element">
      <label for="description">Please describe your project and editing needs:</label><br/>
      <input type="text" id="description" name="description" required/><br/>
    </div>
    <div class="form-element">
      <label for="project-turnaround">Check this box for a rush turnaround of four hours.</label>
      <input type="checkbox" id="project-turnaround" name="project-turnaround" value="llama"/><br/>
    </div>
    </div>
    <div class="form-element">
      <button type="submit">Submit</button>
    </div>
  </form>
</div>



{% endblock %}
