{% extends 'brevisapp/base.html' %}
{% load static %}

{% block content %}

<div class="topnav">
  <div class="dropdown">
    <button class="dropbtn">Menu</button>
    <div class="dropdown-content">
      <a href="{% url 'brevisapp:my_account' %}">My Account</a>
      <a href="{% url 'brevisapp:submit' %}">Start a New Project</a>
      <a href="{% url 'brevisapp:get_a_quote' %}">Get a Quote</a>
      {% if user.editor %}
        <a href="{% url 'brevisapp:to_edit' %}">Start Editing</a>
      {% endif %}
    </div>
  </div>
  <div class="home_logout">
    <a class="dropbtn" id="logout_btn" href="{% url 'brevisapp:logout_user' %}">Logout</a>
  </div>
</div>
<div class="page_body">

  <h1 class="animated-h1">
    <span
       class="txt-rotate"
       data-period="2000"
       data-rotate='[ "Hello", "Welcome", "Great to see you", "Howdy" ]'></span>
    {{ user }}
  </h1>
  <br/>
  <div class="project_lists">
    <div class="bookmarks" id="bookmark1">
      <h4 class="bookmark_heads" id="bookmark-head1">Current Projects</h4>
        <p id="asterisk" class="smaller-text">Projects with *** have been edited.</p><br/>
        {% for current_project in current_projects %}
          <div class="projects">
            <a class="project_name" href="{% url 'brevisapp:client_project' current_project.id %}">{{ current_project.name }}</a>
            {% if current_project.edit_date %}
              <span>***</span>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <div class="bookmarks" id="bookmark2">
        <h4 id="bookmark-head2">Past Projects</h4>
        {% for past_project in past_projects %}
            <a class="project_name" href="{% url 'brevisapp:client_project' past_project.id %}">{{ past_project.name }} — {{ past_project.final_date.date}}</a>
        {% endfor %}
      </div>
  </div>
</div>

<script type="text/javascript" src="{% static 'brevisapp/script.js' %}"></script>

{% endblock %}
